body {
    font-family: Arial, sans-serif;
}

header {
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(./images/back-img.jpg);
    background-size: cover;
    background-position: 50%;
    height: 90vh;
}

nav img {
    width: 13%;
}

.red-btn {
    background: rgb(229, 9, 20);
    color: #fff;
    border: 0;
    border-radius: 0.25rem;
    padding: 6px 17px;
    margin-left: 5px;
}

.hero-title {
    font-size: 3rem;
    font-weight: 900;
}

.hero-first-p {
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-second-p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
}

form label {
    color: rgba(0, 0, 0, 0.7);
    margin-left: 10px;
}

form .form-floating {
    width: 50%;
}

.get-started-btn {
    height: 60px;
    font-size: 1.5rem;
    padding-right: 25px;
    padding-left: 25px;
}

.card{
    margin:20px 20px 20px 20px!important;
}

.faq-section h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
}

.faq-section button {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.faq-section .accordion {
    --bs-accordion-color: rgb(255, 255, 255);
    --bs-accordion-bg: rgb(45, 45, 45);
    --bs-accordion-border-color: none;
    --bs-accordion-border-radius: none;
}

.faq-section .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.faq-section .accordion-button:focus {
    border: none;
    box-shadow: none;
}

.faq-section .accordion-button:hover {
    background-color: rgb(65,65,65);
}

.faq-section .accordion-button:not(.collapsed) {
    background-color: rgb(65,65,65);
    color: rgb(255,255,255);
}

footer {
    border-top: 5px solid #232323;
}

footer p,
footer a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
    font-weight: 400;
}

footer ul {
    padding-left: 0;
}

footer li {
    list-style-type: none;
}

footer select {
    background: transparent;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    appearance: none;
    border-radius: 5px;
}

footer img {
    filter: invert();
    top: 8px;
    left: 12px;
}

footer .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    top: 15px;
    right: -115px;
}

